<mat-card class="card">
    <mat-card-header class="content-container">
        <mat-card-title>
            <h1>Módulo de Cuestionarios</h1>
        </mat-card-title>
        <mat-card-subtitle><h2>
            @if (institucion() !== '') {
                {{ institucion() }}
                @if (curso() !== '') {
                    <span class="material-icons align">arrow_forward</span> {{ curso() }}
                } 
            } 
        </h2></mat-card-subtitle>
    </mat-card-header>
    <router-outlet></router-outlet>
</mat-card>
