<mat-card class="card">
    <mat-card-header class="content-container">
        <mat-card-title>
            <h1>Perfil de usuario</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-container">
        <app-form-perfil></app-form-perfil>
        <app-form-contacto></app-form-contacto>
        <app-form-perfil-docente></app-form-perfil-docente>
    </mat-card-content>
        <!-- datos basicos: para crear docente y en perfil (form-perfil)
        datos contacto: solo en perfil (form-contacto)
        datos academicos: solo perfil docente (form-perfil-docente)
        cambiar contraseña: click para mostrar (perfil.ts) -->
</mat-card>
