<form [formGroup]="datosContacto">
    <fieldset class="grid-container">
        <legend><h2>Datos de contacto</h2></legend>
        <div class="form-container">
            @for (telefono of telefonos.controls; let i = $index; track i) {
                <mat-form-field>
                    <mat-label>Teléfono {{i + 1}}</mat-label>
                    <div formArrayName="telefonos">
                        <input matInput type="text" [formControlName]="i" required>
                        @if (telefonos.length > 1 && datosContacto.enabled) {
                            <button mat-icon-button type="button" title="Quitar teléfono" (click)="eliminarTelefono(i)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        }
                        @if (telefono.hasError('required')) {
                            <mat-error>
                                El teléfono es obligatorio.
                            </mat-error>
                        }
                        @if (telefono.hasError('pattern')) {
                            <mat-error>
                                El teléfono debe tener 10 dígitos.
                            </mat-error>
                        }
                    </div>                   
                </mat-form-field>
            }
            @if (datosContacto.enabled) {
                <button mat-icon-button type="button" title="Agregar teléfono" (click)="agregarTelefono()">
                    <mat-icon>add</mat-icon>
                </button>
            }
        </div>
        <div class="button-container">
            @if (datosContacto.enabled) {
                <button mat-raised-button color="primary" type="submit" (click)="guardarDatos()">Guardar</button>
            }
            @if (datosContacto.disabled && modificable()) {
                <button mat-raised-button type="button" (click)="activarFormulario()">Modificar</button>
            }
        </div>
    </fieldset>
</form>
