.subcontainer {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    padding: 1%;
}

.cuestionario {
    text-align: start;
    overflow-y: visible;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
}

.cuestionario-form {
    width: 45%;
    max-height: 675px;
    overflow-y: auto;
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-field {
    width: 48%;
}

@media (max-width: 1280px) {
    .subcontainer {
        flex-direction: column;
        row-gap: 20px;
    }

    .cuestionario-form {
        width: 100%;
        max-height: none;
        overflow-y: visible;
    }
}

@media (max-width: 1024px) {
    .form-header {
        flex-direction: column;
        row-gap: 10px;
    }

    .header-field {
        width: 100%;
    }
}