.listado-cursos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.curso-card {
    padding: 60px;
    cursor: pointer;
}

.curso-card:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: block;;
}