.header {
    display: flex;
    justify-content: space-between;
}

.sidenav-container {
    height: calc(100vh - 64px);
    background-color: white;
}

.sidenav-list {
    overflow-y: auto;
}

:host ::ng-deep angular2-st-tbody-custom {
    display: flex;
    justify-content: space-around;
}