.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
}

.grid-container {
    text-align: start;
    overflow-y: visible;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
