.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
}

.grid-container {
    width: 98%;
    /* height: 24rem; */
    text-align: start;
    overflow-y: visible;
}

.button-container {
    display: flex;
    justify-content: space-around;
}
