<mat-card class="card">
    <mat-card-header class="content-container">
        <mat-card-title>
            <h1>Módulo de Cursos</h1>
        </mat-card-title>
        @if (institucion !== null) {
            <mat-card-subtitle>
                <h2>{{ institucion()?.nombre }}</h2>
            </mat-card-subtitle>
        } 
    </mat-card-header>
    <mat-card-content class="content-container">
        @if (institucion() === null) {
            <app-listado-instituciones
                [usuarioId]="1"
                (institucionSelected)="institucionSelected($event)"
            ></app-listado-instituciones>
        } @else {
            <angular2-smart-table
                [settings]="settings"
                [source]="cursos"
                (create)="agregarCurso()"
                (custom)="eventoCursos($event)"
            />
        }
    </mat-card-content>
</mat-card>

